/notebook/notebook.aux
/notebook/notebook.log
/notebook/notebook.out
/notebook/notebook.toc
/notebook/notebook.pdf
/notebook/notebook.fls
/notebook/.notebook.tex.swp
/notebook/notebook.fdb_latexmk
/.vscode